@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    height: 99vh;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

img {
    width: 30%;
}